[Unit]
Description=Weather Discord Bot
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
User=root
WorkingDirectory=/path/to/weather-discord/
EnvironmentFile=/path/to/weather-discord/.env
ExecStart=/path/to/uv run weather-discord
StandardOutput=journal
StandardError=journal
